body, header, footer {min-width: 360px;}
.theme-color {color: #00AEEF !important;}
hr.short-line {background-color: #00AEEF;}
.text-theme {color: #00AEEF !important;}
.fs-16px {font-size: 16px !important;}
.hide {display: none;}