.form-control:disabled {background-color: EEEEEE;}

/* products page  */
.amount {
	position: absolute;
    left: 0;
    top: 0;
    padding: 1px 3px;
    z-index: 5;
    border: 1px solid rgba(0,0,0, .1);
    border-top: none;
    border-left: none;
    border-radius: 0px 0px 3px 0px;
    border-collapse: collapse;
}

.bg-system {background-color: indianred;}
.bg-dashboard {background-color: teal;}

@media all and (min-width: 992px) {
    
}

@media all and (max-width: 991px) {
    
}

@media all and (min-width: 768px) {
    
}

@media all and (max-width: 767px) {
    
}

@media all and (min-width: 576px) {
    
}

@media all and (max-width: 575px) {
    
}